.header {
    height:  80px;
    background-color: inherit;
    border-bottom: solid 1px #b8b8b8;
}
#title {
    position: absolute;
    left: 40px;
    top: 10px;
    font-size: 36px;
}

#content {
    padding: 0px 40px !important;
    width: 520px !important;
    column-width: inherit;
    column-gap: inherit;
    column-fill: inherit;
    overflow-x: visible !important; /* override the scroller */
    overflow-y: scroll !important;
}
.lightbox-fg {
    left: 10px;
    right: 10px;
}
